# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Generated platform projects (recreated by `flutter create`)
.metadata
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
